pyautogui >= 0.9
pytest
pytest-xdist
colorlog
colorama
langchain
langchain-openai
langchain_ollama
langgraph
agent-protocol
agent-protocol-client
requests
pyautogui
pika                    # Requires RabbitMQ server
# python-uinput         # Only for linux?
matplotlib
dotenv
grandalf

# rapidocr              # For OCR (server)
