grpcio
./external/ecm_communications
langchain-core
langchain-openai
requests
colorlog
dotenv
colorama
protobuf
pillow
pyautogui
psutil
pyqt5
replicate
opencv-python
rapidocr
elevenlabs
playsound
open-interpreter
markdown
PyQtWebEngine
pydub
pyaudio
