grpcio
./external/ecm_communications
langchain-core
langchain-openai
requests
colorlog
dotenv
colorama
protobuf
ecm-communications
pillow
pyautogui
psutil
pyqt5
replicate
opencv-python
rapidocr
elevenlabs
playsound
